<html>
  <head>
    <title>first-sinatra-project</title>
    <link rel='stylesheet' type='text/css' href="stylesheets/styles.css" />
  </head>
  <body>
    <a href="/">Homepage</a>
    <a href="/contact">Contact Me</a>
    <a href="/resume">Resume</a>
    <%= yield %>
    <!-- GREAT SPOT FOT FOORTER -->
    <footer>
      <!-- <div>&copy; Drvpoint Labs 2016</div> -->
    </footer>
  </body>
</html>
