<h1><strong>My Resume</strong></h1>
<hr />
<h3>Employment History</h3>


<div class='center'>
<table>
  <thead>
    <tr>
      <th>Larry H. Miller Ford Lincoln Sandy</th>
      <th>Zumiez</th>
      <th>Sunglass Hut</th>
      <th>Jeffco Inc</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sales Associate
        Sandy, Utah
        October 2015 - Now
        Sales job that entailed selling cars.
      </td>
      <td>Sales Associate
        Salt Lake City, Utah
        June 2015 – August 2015
        Retail job that entitled selling clothing and skateboards/accessories.
      </td>
      <td>
        Sales Associate
        Salt Lake City, Utah
        April 2015 – August 2015
        Retail job that entitled selling sunglasses
      </td>
      <td>Site Worker
        Andover, Massachusetts
        May 2013 – August 2013
        Construction job that entitled building houses.
      </td>


    </tr>
  </tbody>
</table>

<h3> </h3>
<h3> </h3>
<h3>Hobbies & Intersts</h3>
